#all_banner {
  margin-top: 60px;
  background: url(../images/allbanner.png) no-repeat center / cover;
  padding: 115px 0;
}

.all_banner_text h2 {
  font-weight: 700;
  font-size: 35px;
  color: #282828;
}

.all_banner_text p {
  font-size: 16px;
  color: #282828;
}