.backtotop i {
  position: fixed;
  bottom:40px ;
  right: 30px;
  height: 40px;
  width: 40px;
  color: white;
  background-color: #477018;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  animation: btt 1s linear infinite;
  -webkit-animation: btt 1s linear infinite;
  display: none;
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@keyframes btt {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 50px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}
.backtotop i:hover {
  background-color: black;
  color: #fff;
}