#choose {
  padding-top: 125px;
}

.choose_head h2 {
  font-weight: 700;
  font-size: 35px;
  color: #282828;
  text-transform: capitalize;
  padding-bottom: 25px;
}

.choose_item {
  padding-top: 25px;
}

.choose_item h2 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding-top: 50px;
  text-transform: capitalize;
}

.choose_item p {
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
  color: #676767;
}