#cat_fp {
  padding-top: 130px;
}

.cat_fp_head h2 {
  font-weight: 700;
  font-size: 35px;
  color: #282828;
}

.cat_fp_head_btn a {
  font-size: 16px;
  color: #F47606;
  text-transform: capitalize;
}
.cat_fp_head_btn i{
  padding-left: 15px;
}

.catfp_ol{
  align-items: end;
  background-color: transparent;
}

.catfp_ol i{
  margin-bottom: 30px;
}