.placed_text {
  padding-top: 20px;
}

.pt_left {
  height: 90px;
  padding: 13px 18px;
  text-align: center;
  border: 1px solid #C9C9C9;
  border-radius: 10px;
}

.pt_left p {
  font-weight: 600;
  font-size: 25px;
  color: #363636;
}

.pt_right {
  padding-left: 17px;
}

.pt_right h2 {
  font-weight: 600;
  font-size: 20px;
  color: #363636;
  padding-right: 20px;
}

.pt_right p {
  font-size: 16px;
  line-height: 28px;
  color: #6C6C6C;
  padding-top: 10px;
}

.pt_right a{
  font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #F47606;
padding-top: 5px;
}