#question{
  padding-top: 180px;
}

.qs_head h2{
  font-weight: 700;
  font-size: 35px;
}


.question_list{
  padding-top: 50px;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #F47606;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.qs_extra h3{
 padding: 70px 0 20px 0;
 font-weight: 700;
 font-size: 30px;
 text-transform: capitalize;
}
.qs_extra span{
  color: #F47606;
  font-weight: 500;
}